.so-widget-sow-image-default-02bb2c2c5c04 .sow-image-container {
  text-align: right;
}
.so-widget-sow-image-default-02bb2c2c5c04 .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: inherit;
  height: auto;
}